/* HTML styles */
body {
  font-family: 'Helvetica';
  font-size: 1.5em;
}

hr {
  border: 0;
  height: 1px;
  background: #c5c5c5;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Main layout styles */
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#month-title {
  font-weight: 200;
}

#calendar {
  border: solid 1px #999;
  border-radius: 5px;
  width: 400px;
  height: 350px;
  padding: 10px;
}

/* Component styles */
.row {
  display: flex;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-square {
  font-weight: 800;
  text-align: center;
  margin: 10px;
}

.weekend {
  color: red;
}

.button {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 48px;
  height: 48px;
  outline: none;
  border: none;
  background-color: #acacac;
  color: white;
  border-radius: 50%;
  font-size: 1.0rem;
  font-weight: 800;
  margin: 0 20px;

  transition: all 0.2s;
}

.button:hover {
  background-color: #c4c4c4;
}
